
* {
    box-sizing: border-box;
}

a:hover {
   background-color: black;
}

.cursive {
    font-family: 'Bebas Neue', cursive;
    color: white;
}

html, 
body {
    height: 100%;
}

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #093145;
}

ul {
    list-style: none;
   margin-bottom: 70px;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: 1.38em;
}


.main-nav {
    text-align: center;
    display: block;
    margin-right: 40px;
       
}

.main-nav li {
    margin-top: 25px;
    margin-bottom: 25px;
    list-style-type: none;
}

.name {
    font-size: 30px;    
}


.profilepic {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.main-title {
    margin-bottom: 50px;
    margin-top: 80px;
}

img {
    max-width: 95%;
    box-sizing: border-box;
    display: block;
    margin: auto;  
}

.firstparagraph {
    margin-bottom: 80px;
}

.paragraph {
    margin-bottom: 40px;
}

p {
    text-align: center;
    font-family: texturina, serif;
}

.main-footer {
    display: inline-block;

}

.footername {
    text-align: left;
    display: inline-block;
    margin-right: 170px;
    
}

.backtotop {
    text-align: right;
    display: inline-block;
    margin-right: 5px;
    float: right;
    margin-top: -37px;
     
}

h3 {
    margin-top: 30px;
    margin-bottom: -10px;
}

h3,
h4,
h5 {
    text-align: center;
}

.contact {
    margin-top: 100px;
}

.linebreak {
    margin-top: 50px;
}

footer {
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: #107896;
    margin-top: 40px;
}

h2 {
    float: left;
    height: 12px;
    line-height: 12px;
}

.footer-nav {
    text-align: right;
}


.top, .footer-nav li:last-child {
    margin-right: 0;
}

.full {
    display: none;
}

  @media (min-width: 768px) {

    .top {
        display: none;
    }

    .full {
        display: inline-block;
        margin-left: 20px;
    }
    
    ul.nav {
        padding-bottom: 40px;
    }
    
    .col {
        min-height: 420px;
        float: left;   
    }

    p {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .container {
        width: 90%;
        margin: 0 auto; 
    } 

    .bank1,
    .bank2 {
        width: 50%;  

    }

    .name {
        text-align: center;

    }

    .list {
        display: inline-block;
        margin-right: 30px;
        margin-left: 30px;
    }
        
   
    .profilepic {
        float: right;
        max-width: 40%;
        padding-right: 40px;
       
    }

    img {
        max-width: 97%;
        box-sizing: border-box;
        display: block;
        margin: auto;  
        
    }  

    .firstparagraph {
        padding-right: 1em;
        padding-left: 1em;
        margin-bottom: 200px;
        font-size: 20px;
        text-align: left;
        margin-bottom: 0px;
        width: 60%;
    } 
   
    .bottomlist {
        display: inline-block;
        float: right;
        margin-right: 0px;
    }
        
    .clearfix::after {
        content:"";
        display: table;
        clear: both;
    }
   
}   

@media (min-width: 1024px) {


header>div {
    margin: 0 auto;
}

.profilepic {
    float: right;
}

    header {
        margin-bottom: 100px;
    }

.firstparagragh {
    padding-right: 1em;
    padding-left: 1em;
    font-size: 20px;
    text-align: left;
    margin-bottom: 0px;
    width: 80%;
}

div {
    max-width: 90%;
}


    /* .profilepic {
        max-width: 50%;
        padding-right: 40px;
        margin-right: -145px;
    

} */

/* footer {
    width: 104%
} */

    .main-nav {
        text-align: right;

    }

    .name {
        float: left;
        
    }

    li.list {
        display: inline-block;
        margin-right: 5px;
        margin-top: 36px;
    }
    /* .main-title {
         text-align: center;
         margin-top: 150px;
         margin-right: -40px;
       
        
    } */

    .container {
       
        margin: 0 auto;
        margin-left: 65px;
       
    }

    
    
    .col {
        float: left;
        width: 33.33%;
    }

    .clearfix::after {
        content:"";
        display: table;
        clear: both;
    }
   
}   

  
